{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            {% if validlink %}
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-lg btn-primary" type="submit" value="{% trans 'Submit' %}"/>
                </form>
            {% else %}
                <p>{% trans "Password reset failed" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
