{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="jumbotron about">
        <div class="row">
            <div class="pull-left col-sm-12">
                <h3>О компании</h3>
            </div>
        </div>
        <div class="row">
            <div class="text-justify col-md-12 ">
                <p><img src="{% static "img/factory.jpg" %}" class="img-responsive pull-left">Завод ОАО «Лидсельмаш»
                    основан в 1901 году как чугунолитейный завод, где было налажено производство сельскохозяйственного
                    инвентаря и простейших сельхозмашин для конной тяги. С ежегодно возрастающими требованиями по
                    механизации сельскохозяйственного производства наш завод прошел путь от плуга до комбайна.</p>

                <p>В бывшем Министерстве тракторного и сельскохозяйственного машиностроения СССР завод "Лидсельмаш"
                    был единственным предприятием в своей отрасли, изготавливающим навесные и прицепные сельхозмашины и
                    специализирующимся по выпуску картофелесажалок и картофелекопателей, которые поставлялись во все
                    союзные республики и на экспорт.</p>

                <p>В результате преобразования Республики Беларусь в самостоятельное государство завод вошел в
                    состав предприятий Министерства промышленности Республики Беларусь, а затем стал акционерным
                    обществом
                    открытого типа. C появлением фермерских хозяйств и сохранением колхозно-совхозной структуры
                    ассортимент
                    выпускаемых заводом сельхозмашин значительно расширился.</p>

                <p>Продукция ОАО "Лидсельмаш" поставляется в хозяйства Республики Беларусь, а также на экспорт в
                    страны СНГ и дальнего зарубежья.<br></p>
            </div>
        </div>
    </div>
{% endblock %}