{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% include 'html_css.html' %}
    <style>
        {% block style %}{% endblock %}
    </style>
    <title>primeshop</title>

</head>

<body>
{% include 'navbar.html' %}
{% if messages %}

    <div class="alert alert-success text-center alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <span aria-hidden="true"><i class="fa fa-info-circle fa-lg"></i></span>

        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
{% endif %}

</div>
<div class="container col-xl-12">
    {% block jumbotron %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>
{% include 'html_js.html' %}
</body>
</html>
