{% extends "base.html" %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="row" style="border: 1px solid black">
        <div class="col-md-8 col-sm-6" style="background-color: #4cae4c">.col-md-8 col-sm-6
            <div class="row">
                <div class="col-md-8 col-sm-3" style="background-color: #d9534f">col-md-8</div>
                <div class="col-md-2 col-sm-3" style="background-color: #d99615">col-md-2</div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6" style="background-color: #8a6d3b">.col-md-4 col-sm-6</div>
    </div>
    {#<div class="row">#}
    {#  <div class="col-md-4">.col-md-4</div>#}
    {#  <div class="col-md-4">.col-md-4</div>#}
    {#  <div class="col-md-4">.col-md-4</div>#}
    {#</div>#}
    {#<div class="row">#}
    {#  <div class="col-md-6">.col-md-6</div>#}
    {#  <div class="col-md-6">.col-md-6</div>#}
    {#</div>#}
{% endblock %}