{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if title %}
                <div class="row">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            {% endif %}
            <form method="post" action=".">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-lg btn-primary" type='submit' value="Отправить">
            </form>
        </div>
    </div>
{% endblock %}