{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<style>
    {% block style %}
        .lead{
            text-align: center;
        }
    {% endblock %}
</style>

{% block jumbotron %}
    <div class="jumbotron">
    <div class="row">
        <div class="col-sm-9">
{#            <p><img class="mainlogo" src="{% static "img/logo.jpg" %}" alt="My image"/></p>#}
            <p>Стальные панельные радиаторы <b>«Лидея Компакт»</b> – это высокоэффективное семейство тепловых приборов,
                рассчитанных на современные системы жилых, административных и производственных зданий с нормальными
                условиями влажности.</p>

                <a class="btn btn-lg btn-primary" href="{% url 'heater_list' %}" role="button">В магазин &raquo;</a>

        </div>
{#        <div class="col-sm-3">#}
{#            <img src="{% static "img/jumbo.jpg" %}" alt="My image"/>#}
{#        </div>#}
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
            <p class="lead">Product catalog with imajes must be here...</p>
    </div>
{#        <div class="col-sm-4 col-md-3">#}
{#            <form method="post" action=".">{% csrf_token %}#}
{#                {{ form|crispy }}#}
{#                <input type='submit' value="Отправить">#}
{#            </form>#}
{#        </div>#}

    </div>
{% endblock %}
