{% load staticfiles %}
<nav class="navbar-fluid navbar-default navbar-static-top">

     <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <img src="{% static "img/mainlogo.gif" %}" alt="My image"/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        {% with request.resolver_match.url_name as url_name %}
          <ul class="nav navbar-nav">
                <li><a href="{% url 'heater_list' %}"><i class="{% if url_name == 'heater_list' %}active{% endif %} fa fa-list fa-lg"> Каталог</i></a></li>
                <li><a href="{% url 'index' %}"><i class="{% if url_name == 'index' %}active{% endif %} fa fa-home fa-lg"> Домой</i></a></li>
                <li><a href="{% url 'about' %}"><i class="{% if url_name == 'about' %}active{% endif %} fa fa-building fa-lg"> Про компанию</i></a></li>
                <li><a href="{% url 'contact' %}"><i class="{% if url_name == 'contact' %}active{% endif %} fa fa-question fa-lg"> Связаться</i></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                    <li><a><i class="fa fa-user fa-lg"></i> {{ request.user|capfirst }}</a></li>
{#                    <li><a href="{% url 'auth_logout' %}">Выход</a></li>#}
                <li><a href="{% url 'auth_logout' %}"><i class="{% if url_name == 'auth_logout' %}active{% endif %} fa fa-sign-out fa-lg"></i></a></li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}"><i class="{% if url_name == 'auth_login' %}active{% endif %} fa fa-sign-in fa-lg"> Вход</i></a></li>
                    <li><a href="{% url 'registration_register' %}"><i class="{% if url_name == 'registration_register' %}active{% endif %} fa fa-user fa-lg"> Регистрация</i></a></li>
                {% endif %}
          </ul>
        {% endwith %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"#}
{#                    aria-expanded="false" aria-controls="navbar">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <div class="col-md-4 col-centered">#}
{#            <img src="{% static "img/mainlogo.gif" %}" alt="My image"/>#}
{#            </div>#}
{#        </div>#}
{#        <div id="navbar" class="navbar-collapse collapse">#}
{#            <ul class="nav navbar-nav">#}
{#                <li><a href="{% url 'index' %}">Home</a></li>#}
{#                <li><a href="{% url 'about' %}">About</a></li>#}
{#                <li><a href="{% url 'contact' %}">Contact</a></li>#}
{#            </ul>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                {% if request.user.is_authenticated %}#}
{#                    <li><a>Здравствуйте, {{ request.user|capfirst }}</a></li>#}
{#                    <li><a href="{% url 'auth_logout' %}">Выход</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'auth_login' %}">Вход</a></li>#}
{#                    <li><a href="{% url 'registration_register' %}">Регистрация</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div><!--/.nav-collapse -->#}
{#    </div>#}
</nav>