.mainlogo {
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}

.jumbotron {
    margin-bottom: 10px;
    padding: 5px;
    background: url("../img/jumbobg.jpg") no-repeat right;
    height: auto;
    border: 1px solid grey;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.active{
    text-shadow: 0 0 15px #f1eb01, 0 0 15px #f1eb01;
    color: black;
}

.jumbotron.about{
    background-position: top right;
}

.jumbotron.about h3{
    margin-top: 135px;
}

.jumbotron p {
    font-size: 13px;
    text-indent: 15px;
}

.jumbotron img {
    margin-right: 10px;
    display: inline-block;
}

.btn.btn-lg.btn-primary {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background: #f1eb01;
    color: #ae2e00;
    border: none;
    margin: 5px 0 0 0;
}

.btn.btn-block.btn-primary {
    font-size: 15px;
    background: #f1eb01;
    color: #ae2e00;
    border: none;
}

table>thead>tr>th {
    background-color: #f1eb01;
}


.form-control {
    border: 1px solid #ae2e00;
}

.navbar-default {
    font-size:0.95em;
}

.navbar-header>img{
    background-color: black;
    padding: 0px 10px 0px 10px;
}

.active{
    text-shadow: 0 0 15px #f1eb01, 0 0 15px #f1eb01;
    color: black;
}

[id*="inventory"]{
    width: 50px;
    height: 30px;
    padding: 2px;
}

[id*="price"]{
    width: 100px;
    height: 30px;
    padding: 2px;
}

[id*="sale"] {
    width: 100px;
    height: 30px;
    padding: 2px;
    color: red;
}

.center.side {
    margin-top: 8px;
}

.fa-tag.sale-price {
    font-size: 12px;
    color: red;
    text-decoration: line-through;

}

.fa-money.price {
    color: green;
}

/*.side {*/
    /*border: 1px solid grey;*/
/*}*/