{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3 left side">
            <div class="row">
                <form class="navbar-form" role="search">
                    <div class="input-group add-on">
                        <input type="text" class="form-control" method="GET" action="{% url "heater_list" %}"
                               placeholder="Поиск..." name="q" id="srch-term">

                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9 center side">
            <table class="table table-hover table-bordered">
                {% for object in object_list %}
                    <tr>
                        {#        <td>#}
                        {#            <a href="{% url 'heater_detail' pk=object.pk %}">{{ object }} {{ object.length }} {{ object.heater_type }}</a>#}
                        {#        </td>#}
                        <td>
                            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
