{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3 left side">
            <p>left side. Here some filter must be</p>
        </div>
        <div class="col-md-6 center side">
        <h3>{{ object }}</h3>
            {% if object.heaterimage_set.count > 0 %}
                <div>
                {% for img in object.heaterimage_set.all %}
                    <img class="img-responsive center-block" src="{{ img.image.url }}">
                {% endfor %}
                </div>
            {% endif %}
            <hr>
            <p class="lead">Описание</p>
            {{ object.description }}
            <hr>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center lead" colspan="2">Характеристики</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Высота:</td>
                    <td>{{ object.height }} мм</td>
                </tr>
                <tr>
                    <td>Длина:</td>
                    <td>{{ object.length }}</td>
                </tr>
                <tr>
                    <td>Тепловая мощность при ΔT=70℃</td>
                    <td>{{ object.heat_power }} Вт</td>
                </tr>
                <tr>
                    <td>Вес</td>
                    <td>{{ object.weight }} кг</td>
                </tr>
                <tr>
                    <td>Рабочее давление:</td>
                    <td>до {{ object.work_pressure }} ATM</td>
                </tr>
                <tr>
                    <td>Испытательное давление:</td>
                    <td>{{ object.test_pressure }} ATM</td>
                </tr>
                <tr>
                    <td>Макс. температура теплоносителя:</td>
                    <td>{{ object.max_temp_coolant }}°C</td>
                </tr>
                <tr>
                    <td>Шаг вертикальных водоканалов:</td>
                    <td>33,3 мм</td>
                </tr>
                <tr>
                    <td>Цвет покрытия:</td>
                    <td>Белый (RAL 9016)</td>
                </tr>
                <tr>
                    <td>Стандарт присоединения:</td>
                    <td>{% if object.heater_type == 'lk' %}
                        «Лидея Компакт» - 4 присоединительных патрубка с внутренней резьбой G 1/2
                    {% else %}
                        «Лидея Универсал» - 4 боковых и 2 нижних присоединительных патрубка с внутренней резьбой G 1/2.
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Материал панели</td>
                    <td>Сталь холодного проката, соответствует
                        EN 10131, толщина 1,2 мм
                    </td>
                </tr>
                <tr>
                    <td>Материал конвектора</td>
                    <td>Сталь холодного проката, соответствует
                        EN 10131, толщина 0,4 мм
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Обработка поверхности:
                        обезжиривание, травление, фосфатирование, пассивация, погружение в водорастовримый грунт,
                        нанесение
                        порошковой эмали методом пневмоэлектрического напыления, обжиг при температуре 200-220 °С
                        соответствует DIN 55 900.
                    </td>
                </tr>
                <tr>
                    <td>Гарантия</td>
                    <td>5 лет</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 right side">
            <p>right side</p>
            {% if object.sale_price %}
                <p><i class="fa fa-tag fa-lg sale-price"> {{ object.sale_price }} грн</i> </p>
                <p class="lead"><i class="fa fa-money price"></i> {{ object.price }} грн</p>
                {% else %}
                <p class="lead"><i class="fa fa-money price"></i> {{ object.price }} грн</p>
            {% endif %}
            <a class="btn btn-primary btn-block" href="#"><i class="fa fa-shopping-basket"></i> Добавить в корзину</a>
        </div>
    </div>
{% endblock %}