{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block content %}
    <div class="row">
        <div class="col-md-3 left side">
            <div class="row">
                <form class="navbar-form" role="search">
                    <div class="input-group add-on">
                        <input type="text" class="form-control" method="GET" action="{% url "heater_stuff" %}"
                               placeholder="Поиск..." name="q">

                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7 center side">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" action={% url "heater_stuff" %}> {% csrf_token %}
                        {{ formset.management_form }}
                        <table class="table-bordered col-md-12">
                            <thead>
                            <tr>
                                <th class="col-md-5">Наименование</th>
                                <th class="col-md-7" colspan="4">
                                    <text style="white-space: pre;"> Цена прод. | Цена скидк.   | Склад | Активно</text>
                                </th>
                            </tr>
                            </thead>
                            {% for form in formset %}
                                <tr>
                                    <td class="col-md-5">
                                        <a href="{{ form.instance.get_absolute_url }}">{{ form.instance }}</a>
                                    </td>
                                    <td class="col-md-7">
                                        {% for field in form.visible_fields %}
                                            {{ field }}
                                        {% endfor %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input class="btn btn-primary btn-lg pull-right" type="submit" value="Обновить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}